# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
env/
venv/
ENV/
.venv/

# Distribution/Packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Python-specific IDE/Editor settings
.idea/
.vscode/
*.swp
*.swo

# Testing tools
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Temporary files
*.tmp
*.temp
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
desktop.ini

# AWS-specific files
.env
*.zip 
src.zip

# Terraform-specific files
.terraform/
terraform.tfstate*
terraform.tfstate.backup
*.tfplan


